black==23.10.0
boto3==1.28.67
boto3-stubs==1.28.67
botocore==1.31.67
botocore-stubs==1.31.67
click==8.1.7
jmespath==1.0.1
mypy-boto3-ec2==1.28.67
mypy-boto3-s3==1.28.55
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.11.2
platformdirs==3.11.0
python-dateutil==2.8.2
s3transfer==0.7.0
six==1.16.0
tomli==2.0.1
types-awscrt==0.19.3
types-s3transfer==0.7.0
typing_extensions==4.8.0
urllib3==1.26.18
